@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');
@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Poppins', sans-serif;
}

#app {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  min-height: 100vh;
}



@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.lazyload {
  flex-grow : 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #ddd 8%, #ccc 18%, #ddd 33%);
  background-size: 800px 104px;
  height: auto;
  position: relative;
}


@layer components {

  h1 {
    @apply font-caudex text-4xl font-bold text-darkgreen my-4;
  }

  .heroText {
    @apply font-caudex text-5xl md:text-7xl xl:text-6xl font-bold text-darkgreen
  }

  .textInput {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400;
  }

  .dialogWrapper {
    @apply fixed top-0 z-10 backdrop-blur bg-darkgreen/50 w-screen min-h-screen flex justify-center items-center
  }

  .card {
    @apply rounded-lg p-4 border-2 border-lightgrey
  }

  .wrapper {
    @apply w-full h-full m-0 p-0 relative
  }

  .shadow {
    @apply shadow-[rgba(60,64,67,0.3)_0px_1px_2px_0px,rgba(60,64,67,0.15)_0px_2px_6px_2px];
  }

}